<ion-item *ngIf="message" [routerLink]="'/message/' + message.id" [detail]="false">
  <div slot="start" [class]="!message.read ? 'dot dot-unread' : 'dot'"></div>
  <ion-label class="ion-text-wrap">
    <h2>
      {{ message.reportero }}
      <span class="date">
        <ion-note>{{ message.date }}</ion-note>
        <ion-icon name="chevron-forward" size="small" *ngIf="isIos()"></ion-icon>
      </span>
    </h2>
    <h3>{{ message.ciudad }}</h3>
    <p>
      {{ message.temperatura }}
    </p>
  </ion-label>
  </ion-item>